@import '../../styles/breakpoint';

@mixin flex-container($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.student__main__container {

    --padding: 1rem;
    --margin-gap: 1rem;
    --heading: 2rem;

    overflow-y: auto;
    overflow-x: hidden;
    @include flex-container(column, center, center);

    .student__heading__container {
        margin: var(--margin-gap) 0;
        padding: var(--padding);
        font-size: var(--heading);
    }

    .student__questions__section {
        width: 75%;
    }

    @include xs {
        --heading: 1.7rem;

        .student__heading__container {
            font-size: var(--heading);
        }

        .student__questions__section {
            width: 95%;
        }
    }

    @include mobile {
        --heading: 1.9rem;

        .student__heading__container {
            font-size: var(--heading);
        }

        .student__questions__section {
            width: 90%;
        }
    }

    @include desktop {
        --heading: 2.3rem;

        .student__heading__container {
            font-size: var(--heading);
        }

        .student__questions__section {
            width: 80%;
        }
    }

    @include large {
        --heading: 2rem;

        .student__heading__container {
            font-size: var(--heading);
        }
    }
}