@mixin flex-container($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.employers__main__container {

    --padding: 1rem;
    --margin-gap: 1rem;
    --heading: 2rem;

    overflow-y: auto;
    overflow-x: hidden;
    @include flex-container(column, center, center);

    .employers__heading__container {
        margin: var(--margin-gap) 0;
        padding: var(--padding);
        font-size: var(--heading);
    }

    .employers__questions__section {
        width: 75%;
    }
}