:root {
  --scrollbar-background: #191825;
  --scrollbar-thumb: #999;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 3px;
}